* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: gray;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(199, 198, 198);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-post-section input,
.create-post-section textarea {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgb(97, 96, 96);
  border-radius: 6px;
}

.create-post-section button {
  padding: 10px 20px;
  background: rgb(63, 63, 250);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.feed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  min-height: 100vh;
  width: 100%;
  background: rgb(134, 131, 131);
  padding: 20px;
}

.post-card {
  background: #bdb9b9;
  padding: 20px;
  border: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;

}

.post-card h3 {
  margin-bottom: 10px;

}